/* import the required JSAPI css */
@import url('https://js.arcgis.com/4.12/esri/css/main.css');

.esri-view {
  height: 100vh;
}

.weather-popup {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
}